:root {
	--pry-clr: #7352ff;
	--linear-bg: linear-gradient(
		90deg,
		#7352ff 0%,
		#7552ff 0.01%,
		#7352ff 0.02%,
		#7f52ff 49.48%,
		#7552ff 99.99%,
		#7352ff 100%
	);
	--title-bg: #a088ff0a;
	--transition: all 0.2s linear;
}

.flexed {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-btw {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.fx-start {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
